In [1]:
family = ['mother','father','gentleman','sexy lady']

In [2]:
len(family)

4

In [3]:
list('League of legends')

['L',
 'e',
 'a',
 'g',
 'u',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'l',
 'e',
 'g',
 'e',
 'n',
 'd',
 's']

In [4]:
sample_list = ['a','b','c','d']
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [5]:
sample_list2[4]

'May'

In [6]:
sample_list2[6]

'Jul'

In [7]:
sample_list[2] = 'C'

In [8]:
sample_list

['a', 'b', 'C', 'd']

In [9]:
odd = [1,3,5,7,9]

In [10]:
a = list()

In [14]:
a = '동해물과백두산이'

In [15]:
list(a)

['동', '해', '물', '과', '백', '두', '산', '이']

In [16]:
b = 12312321

In [17]:
list(b)

TypeError: 'int' object is not iterable

In [19]:
c = list()

In [20]:
print(c)

[]

In [21]:
c

[]

In [22]:
a = [1,2,3]
a

[1, 2, 3]

In [23]:
a = [1,2,3,['a','b','c']]

In [24]:
a[0]

1

In [25]:
a[-1]

['a', 'b', 'c']

In [26]:
a[3]

['a', 'b', 'c']

In [27]:
a[-1][0]

'a'

In [28]:
a = [1,2, ['a','b',['Life','is']]]
a[2][2][0]

'Life'

In [29]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [30]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

In [31]:
b

[1, 2]

In [32]:
c

[3, 4, 5]

In [33]:
a = [1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [34]:
a[3][:2]

['a', 'b']

In [35]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [36]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
a = [1,2,3]
a[2] + 'hi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
str(a[2])+'hi'

'3hi'

In [40]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [41]:
a[1:2]

[2]

In [42]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [43]:
a[1:3] = []
a

[1, 'c', 4]

In [44]:
a

[1, 'c', 4]

In [45]:
del a[1]

In [46]:
a

[1, 4]

In [47]:
a = [1,2,3]
a.append(4)

In [48]:
a

[1, 2, 3, 4]

In [49]:
a.append({'사과':'맛있다'})

In [51]:
a

[1, 2, 3, 4, {'사과': '맛있다'}]

In [1]:
a = [1, 8 ,3 ,7 , 4, 6, ]

In [2]:
list('cat')

['c', 'a', 't']

In [3]:
a_tuple = ('ready', 'fire', 'aim',)

In [4]:
list(a_tuple)

['ready', 'fire', 'aim']

In [5]:
birthday = '1/6/1952'

In [6]:
birthday.split('/')

['1', '6', '1952']

In [7]:
type(birthday)

str

In [8]:
a = '2 3 4'

In [9]:
a.split()

['2', '3', '4']

In [10]:
marxes = ['Groucho', 'Chico', 'Harpo']

In [11]:
marxes[0]

'Groucho'

In [12]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']

In [13]:
marxes.extend(others)

In [14]:
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [15]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']

In [16]:
marxes.append(others)

In [17]:
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [18]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [21]:
marxes.insert(3, 'Gummo')
# insert를 사용하면 원하는 위치에 삽입 가능

In [22]:
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Gummo', 'Zeppo']