In [2]:
lux = '빛으로 강타해요!'

In [5]:
lux[0]

0

In [6]:
girlsday = '민아, 유라, 소진, 혜리'
girlsday.split(',')

['민아', ' 유라', ' 소진', ' 혜리']

In [7]:
setup = 'a duck goes into a bar...'

In [8]:
setup.strip('.')

'a duck goes into a bar'

In [9]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)

In [10]:
crypto_string

'Yeti, Bigfoot, Loch Ness Monster'

In [11]:
setup = 'a duck goes into a bar...'

In [12]:
setup.strip('.')

'a duck goes into a bar'

In [15]:
girlsday_list = girlsday.split(',')
girlsday_str = ', '.join(girlsday_list)

In [17]:
print(girlsday_str)

민아,  유라,  소진,  혜리

In [18]:
# 대소문자 다루기
lux = 'lux, the Lady of Luminosity'
lux.capitalize()

'Lux, the lady of luminosity'

In [19]:
lux.title()

'Lux, The Lady Of Luminosity'

In [20]:
lux.upper()

'LUX, THE LADY OF LUMINOSITY'

In [21]:
lux.lower()

'lux, the lady of luminosity'

In [22]:
lux.swapcase()

'LUX, THE lADY OF lUMINOSITY'

In [25]:
apple = '사과'
banana = '바나나'
train = '기차'

In [27]:
f'{apple}는 맛있어 맛있으면 {banana} {banana}는 길어 길으면 {train}'

'사과는 맛있어 맛있으면 바나나 바나나는 길어 길으면 기차'

In [29]:
t = f'''{apple:^10}
{banana:^10}
{train:^10}'''

In [30]:
print(t)

    사과
   바나나
    기차

In [31]:
person = '민아'
food = '고기'

In [33]:
'{}가 {}를 먹는다'.format(person, food)

'민아가 고기를 먹는다'

In [35]:
f'{person}가 {food}를 먹는다'

'민아가 고기를 먹는다'

In [37]:
multi_lines = '''동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람 대한으로 길이
보전하세'''

In [38]:
print(multi_lines)

동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람 대한으로 길이
보전하세

In [39]:
multi_lines

'동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세\n무궁화 삼천리 화려강산 대한사람 대한으로 길이\n보전하세'

In [40]:
'abc' * 10

'abcabcabcabcabcabcabcabcabcabc'

In [41]:
list1 = 'abc'

In [42]:
list2 = list(list1)

In [43]:
list2

['a', 'b', 'c']

In [45]:
sample_list = ['a', 'b', 'c', 'd']
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [47]:
sample_list[2] = 'C'

In [48]:
sample_list

['a', 'b', 'C', 'd']

In [51]:
sample_list2[4]

'May'

In [52]:
sample_list2[6]

'Jul'

In [54]:
# 1월부터 3월씩 건너뛴 결과 quarters 할당
qurters = sample_list2[::3]
print(qurters)

['Jan', 'Apr', 'Jul', 'Oct']

In [66]:
# 끝에서부터 3번째 요소까지를 last_three에 할당
last_three = sample_list2[:-4:-1]
print(last_three)

['Dec', 'Nov', 'Oct']

In [67]:
# 끝에서부터 처음까지(거꾸로) 2월씩 건너뛴 결과 reverse_two_steps 할당
reverse_two_steps = sample_list2[::-2]
print(reverse_two_steps)

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [69]:
lux = '빛으로 강타해요!'
lux_list = lux[::-1]
print(lux_list)

!요해타강 로으빛

In [76]:
fruits = 'apple,banana,melon'.split(',')

In [71]:
colors = 'red,green,blue'.split(',')

In [72]:
fruits

['apple', 'banana', 'melon']

In [73]:
colors

['red', 'green', 'blue']

In [74]:
fruits.append(colors)

In [75]:
fruits

['apple', 'banana', 'melon', ['red', 'green', 'blue']]

In [77]:
fruits

['apple', 'banana', 'melon']

In [79]:
fruits.insert(1,'mango')

In [80]:
fruits

['apple', 'mango', 'banana', 'melon']

In [81]:
fruits.insert(100,'pineapple')

In [82]:
fruits

['apple', 'mango', 'banana', 'melon', 'pineapple']

In [83]:
a = 12345678
id(a)

140643540318416

In [84]:
a = 'sdf'

In [85]:
del a

In [87]:
del fruits[-1]

In [88]:
fruits

['apple', 'mango', 'banana', 'melon']

In [89]:
fruits.remove('mango')

In [90]:
fruits

['apple', 'banana', 'melon']

In [91]:
fruits.index('apple')

0

In [92]:
'red' in fruits

False

In [93]:
'apple' in fruits

True

In [94]:
list1 = ['b', 'c', 'a', 'f', 'e', 'd']

In [95]:
list_ori = list1.copy()

In [96]:
list1

['b', 'c', 'a', 'f', 'e', 'd']

In [97]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [98]:
list1.sort()

In [99]:
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [100]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [101]:
result = sorted(list_ori)

In [102]:
result

['a', 'b', 'c', 'd', 'e', 'f']

In [103]:
list_ori

['b', 'c', 'a', 'f', 'e', 'd']

In [104]:
var1 = 100
var2 = var1

In [105]:
print(var1)
print(var2)

100
100

In [106]:
var1 = 200
print(var1)
print(var2)

200
100

In [107]:
list1 = ['a', 'b', 'c']
list2 = list1

In [108]:
print(list1)
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']

In [109]:
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['A', 'b', 'c']

In [110]:
id(list1)

140643539924872

In [111]:
id(list2)

140643539924872

In [112]:
list1 = ['a', 'b', 'c']
list2 = list1.copy()

In [113]:
print(list1)
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']

In [115]:
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['a', 'b', 'c']

In [118]:
type((3,5))

tuple

In [121]:
a = 3,5
b = (3,5)

In [122]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [123]:
a = (3)
type(a)

int

In [124]:
a = (3,5,7)

In [125]:
b, c, d = a

In [126]:
b

3

In [127]:
c

5

In [128]:
d

7

In [130]:
b = a[0]
c = a[1]
d = a[2]
print(b,c,d)

3 5 7

In [131]:
x = 10
y = 5

In [132]:
x,y = y,x

In [133]:
x

5

In [134]:
y

10

In [135]:
list_type = list('Fastcampus')

In [136]:
tuple_type = tuple('Fastcampus')

In [137]:
list_type

['F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [138]:
tuple_type

('F', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [141]:
list_join =''.join(list_type)

In [142]:
list_join

'Fastcampus'

In [143]:
sample = [[1,2], [3,4], [5,6]]
dict(sample)

{1: 2, 3: 4, 5: 6}

In [144]:
sample2 = [1,2],[3,4],[5,6]
dict(sample2)

{1: 2, 3: 4, 5: 6}

In [145]:
fruits = {'apple':'사과', 'banana':'바나나', '체리':'cherry'}

In [146]:
print(fruits)

{'apple': '사과', 'banana': '바나나', '체리': 'cherry'}

In [147]:
champion_dict = {
    'Lux':'the Lady of Luminosity',
    'Ahri':'the Nine-Tailed Fox',
    'Ezreal':'the prodigal Explorer',
    'Teemo':'the Swift Scout',
}

In [149]:
champion_dict['Lux']

'the Lady of Luminosity'

In [150]:
champion_dict['Sona'] = 'Maven of the Strings'

In [151]:
champion_dict['Sona']

'Maven of the Strings'

In [153]:
champion_dict.get('Soraka', 'Healer')

'Healer'

In [154]:
champion_dict.get('Lux','Light')

'the Lady of Luminosity'

In [157]:
item_dict = {
    'Doran\'s Ring': 400,
    'Doran\'s Blade': 450,
    'Doran\'s Sheild': 450,
}

In [158]:
print(item_dict)

{"Doran's Ring": 400, "Doran's Blade": 450, "Doran's Sheild": 450}

In [161]:
com_dict = {}

In [163]:
com_dict.update(champion_dict)
print(com_dict)

{'Lux': 'the Lady of Luminosity', 'Ahri': 'the Nine-Tailed Fox', 'Ezreal': 'the prodigal Explorer', 'Teemo': 'the Swift Scout', 'Sona': 'Maven of the Strings'}

In [165]:
com_dict.update(item_dict)
print(com_dict)

{'Lux': 'the Lady of Luminosity', 'Ahri': 'the Nine-Tailed Fox', 'Ezreal': 'the prodigal Explorer', 'Teemo': 'the Swift Scout', 'Sona': 'Maven of the Strings', "Doran's Ring": 400, "Doran's Blade": 450, "Doran's Sheild": 450}

In [167]:
champion_dict.keys()

dict_keys(['Lux', 'Ahri', 'Ezreal', 'Teemo', 'Sona'])

In [168]:
champion_dict.values()

dict_values(['the Lady of Luminosity', 'the Nine-Tailed Fox', 'the prodigal Explorer', 'the Swift Scout', 'Maven of the Strings'])

In [169]:
champion_dict.items()

dict_items([('Lux', 'the Lady of Luminosity'), ('Ahri', 'the Nine-Tailed Fox'), ('Ezreal', 'the prodigal Explorer'), ('Teemo', 'the Swift Scout'), ('Sona', 'Maven of the Strings')])

In [171]:
# 1번문제
fruits = {
    'apple':'사과',
    'banana':'바나나',
    'cherry':'체리',
}
print(fruits)

{'apple': '사과', 'banana': '바나나', 'cherry': '체리'}

In [173]:
# 2번문제
fruits_set = set(fruits)
print(fruits_set)

{'banana', 'cherry', 'apple'}

In [175]:
# 3번문제
'durian' in fruits_set

False

In [180]:
# 4번문제
fruits['apple']

'사과'

In [183]:
# 5번문제
girlgroups = {
    'girlsday':{
        'korean':'걸스데이',
        'members':['민아', '혜리', '소진', '유라'],
    },
    'redvelvet':{
        'korean':'레드벨벳',
        'members':'아이린,슬기,웬디,조이,예리'.split(','),
    },
}

In [184]:
girlgroups.keys()

dict_keys(['girlsday', 'redvelvet'])

In [185]:
girlgroups['girlsday'].keys()

dict_keys(['korean', 'members'])

In [186]:
girlgroups['redvelvet'].values()

dict_values(['레드벨벳', ['아이린', '슬기', '웬디', '조이', '예리']])

In [187]:
x = {1,2,3,4,5,6,8}
y = {4,5,6,9,10,11}
z = {4,6,8,9,7,10,12}

In [188]:
x & y & z

{4, 6}

In [189]:
(y & z) - x

{9, 10}

In [190]:
x - (y|z)

{1, 2, 3}