In [1]:
sec = 60
365 * 24 * sec

525600

In [2]:
sec * 60 # 표현식 : 값을 의미하는 표현 또는 값을 반환하는 표현

3600

In [3]:
a = sec * 60

In [4]:
for char in '안녕하세요':
    print(char)

안
녕
하
세
요

In [5]:
365 * 24 * 60 * 60

31536000

In [6]:
var1 = 100

In [7]:
var2 = var1
var3 = var1
var4 = var1

In [8]:
var1

100

In [9]:
var2

100

In [10]:
var3

100

In [11]:
var4

100

In [12]:
var1 = 200

In [13]:
var2

100

In [14]:
a = 100
result = a - 3
a = result
print(a)

97

In [15]:
a = 100
a = a - 3
print(a)

97

In [16]:
a = 100
a -= 3
print(a)

97

In [17]:
int(35+24)

59

In [18]:
1234

1234

In [19]:
-100

-100

In [20]:
10 + 3

13

In [21]:
10 - 3

7

In [22]:
10 * 3

30

In [23]:
10 / 3

3.3333333333333335

In [24]:
10 // 3

3

In [25]:
10 % 3

1

In [26]:
10 **3

1000

In [27]:
c = 60
c / 8

7.5

In [28]:
c // 8

7

In [29]:
c % 8

4

In [30]:
int(3.4)

3

In [31]:
float(3)

3.0

In [32]:
lux = '빛으로 강타해요!'
lux[0]

'빛'

In [33]:
lux[-1]

'!'

In [34]:
girlsday = '민아, 유라, 소진, 혜리'
girlsday.split(',')

['민아', ' 유라', ' 소진', ' 혜리']

In [35]:
'ASDF'.split()

['ASDF']

In [36]:
girlsday_list = girlsday.split(',')
girlsday_str = ', '.join(girlsday_list)
print(girlsday_str)

민아,  유라,  소진,  혜리

In [37]:
member = '민아'
'%s는 걸스데이 멤버이다' % member

'민아는 걸스데이 멤버이다'

In [38]:
'{}는 걸스데이 멤버이다'.format(member)

'민아는 걸스데이 멤버이다'

In [39]:
'{:s}는 걸스데이 멤버이다.'.format(member)

'민아는 걸스데이 멤버이다.'

In [40]:
f'{member}는 걸스데이 멤버이다.'

'민아는 걸스데이 멤버이다.'

In [41]:
sample_list = ['a', 'b', 'c', 'd']
sample_list2 = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [42]:
sample_list2[4]

'May'

In [43]:
sample_list2[6]

'Jul'

In [44]:
sample_list[2] = 'C'
sample_list

['a', 'b', 'C', 'd']

In [45]:
quarters = sample_list2[::3]
print(quarters)

['Jan', 'Apr', 'Jul', 'Oct']

In [46]:
last_three = sample_list2[:-4:-1]
print(last_three)

['Dec', 'Nov', 'Oct']

In [47]:
reverse_quarters = sample_list2[::-2]
print(reverse_quarters)

['Dec', 'Oct', 'Aug', 'Jun', 'Apr', 'Feb']

In [48]:
fruits = 'apple,banana,melon'.split(',')
colors = 'red green blue'.split()

In [49]:
fruits

['apple', 'banana', 'melon']

In [50]:
colors

['red', 'green', 'blue']

In [51]:
fruits.append(colors)
print(fruits)

['apple', 'banana', 'melon', ['red', 'green', 'blue']]

In [52]:
fruits.insert(1, 'mango')
print(fruits)

['apple', 'mango', 'banana', 'melon', ['red', 'green', 'blue']]

In [53]:
fruits.insert(100, 'pineapple')
print(fruits)

['apple', 'mango', 'banana', 'melon', ['red', 'green', 'blue'], 'pineapple']

In [54]:
del fruits[0]
print(fruits)

['mango', 'banana', 'melon', ['red', 'green', 'blue'], 'pineapple']

In [55]:
fruits.remove('mango')
print(fruits)

['banana', 'melon', ['red', 'green', 'blue'], 'pineapple']

In [56]:
g1 = '민아'
g2 = '유라'
g3 = '혜리'

In [57]:
'%s는 커피를 마신다.'% g1

'민아는 커피를 마신다.'

In [58]:
format_string = '%s는 커피를 마신다'

In [59]:
format_string % g1

'민아는 커피를 마신다'

In [60]:
format_string % g2

'유라는 커피를 마신다'

In [61]:
format_string % g3

'혜리는 커피를 마신다'

In [62]:
person = '민아'
food = '고기'

In [63]:
f'{person}가 {food}를 먹는다.'

'민아가 고기를 먹는다.'

In [64]:
var1 = 100
var2 = var1

In [65]:
print(var1)
print(var2)

100
100

In [66]:
var1 = 200
print(var1)
print(var2)

200
100

In [67]:
list1 = ['a','b','c']
list2 = list1

In [68]:
print(list1)
print(list2)

['a', 'b', 'c']
['a', 'b', 'c']

In [69]:
list1[0] = 'A'
print(list1)
print(list2)

['A', 'b', 'c']
['A', 'b', 'c']